{% extends 'main.html' %}

{% block content %}
{% load static %}

<main>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
    
  <div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="file-tree">
            BYOL
            <ul>
              <li><i class="fa fa-folder-open"></i> src
                <ul>
                  {% for parent in dirList %}
                      <li><a href="{% url 'delete-directory' parent.0 %}" style="color: #b2bdbd"><i class="fa fa-folder-open"></i> {{ parent.0 }} </a><span>- {{parent.1|length}} items</span>
                          <ul>
                              {% for child in parent.1 %}
                                <li><a href="{% url 'delete-file' parent.0 child %}" style="color: #b2bdbd">
                                  {% if parent.0 == "js" %}
                                      <i class="fab fa-js"></i> {{ child }}
                                  {% elif parent.0 == "txt" %}
                                      <i class="fas fa-file-lines"></i> {{ child }}
                                  {% elif parent.0 == "reg" %}
                                      <i class="fa fa-cubes-stacked"></i> {{ child }}
                                  {% elif parent.0 == "ps1" %}
                                      <i class="fas fa-terminal"></i> {{ child }}
                                  {% elif parent.0 == "dll" %}
                                      <i class="fa fa-link"></i> {{ child }}
                                  {% elif parent.0 == "exe" %}
                                      <i class="fas fa-play"></i> {{ child }}
                                  {% elif parent.0 == "hta" or parent.0 == "vbs"%}
                                      <i class="fa fa-code"></i> {{ child }}
                                  {% else %}
                                      <i class="fa fa-align-left"></i> {{ child }}
                                  {% endif %}
                                  </a>
                                </li>
                              {% endfor %}

                              <a href="{% url 'new-file' parent.0 %}">
                                <li style="font-size: 16px;"><i class="fas fa-plus"></i> Upload File </li>
                              </a>
                          </ul>
                      </li>
                  {% endfor %}
                  <a href="{% url 'new-directory' %}">
                    <li style="font-size: 16px;"><i class="fas fa-plus"></i> New Folder </li>
                  </a>
                </ul>
              </li>
            </ul>
        </div>
    </form>
  </div>
</main>

{% endblock content %}